@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Certify a New Machine for @Model.Name</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")<br /><br />

  <input type="submit" value="Save" />
}

<div class="navlinks">
  <p>@Html.ActionLink("Back to list", "Index")</p>
</div>