@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h2>About @Model.Name: <span class="light-text">Engineer</span></h2>
<p class="description">@Html.DisplayFor(model => model.Details)</p>

@if (@Model.JoinEntities.Count == 0)
{
  <p>@Model.Name is not licensed to repair any machines yet.</p>
}
else
{
  <h4>@Model.Name is licensed to repair the following machines:</h4>
  <ul>
  @foreach (EngineerMachine join in Model.JoinEntities)
    {
      <li class="lists">@join.Machine.Type
        @using (Html.BeginForm("DeleteJoin", "Engineers"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input type="submit" value="Delete" />
        }
      </li>
    }
  </ul>
}

<div class="navlinks four-links">
  <p>@Html.ActionLink("Back to list", "Index")</p>
  <p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
  <p>@Html.ActionLink("Add Machine for Engineer", "AddMachine", new { id = Model.EngineerId })</p>
  <p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
</div>