@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Edit @Model.Name's Profile</h2><br />

<div class="form">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.EngineerId)

    <div class="form-block">
      @Html.LabelFor(model => model.Name)
      @Html.EditorFor(model => model.Name)
    </div>
    <div class="form-block">
      @Html.LabelFor(model => model.Details)
      @Html.TextAreaFor(model => model.Details, new { @class = "textbox" })
    </div>
    <div class="form-block">
      <input type="submit" value="Save" />
    </div>
  }
</div>

<div class="navlinks">
  <p>@Html.ActionLink("Back to list", "Index")</p>
</div>