@{
  Layout = "_Layout";
}

<h2>Account Settings</h2>

@if (User.Identity.IsAuthenticated)
{
  <p>Welcome @User.Identity.Name</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-outline-dark" value="Log out" />
  }

  <div class="navlinks">
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  </div>
}
else
{
  <div class="navlinks three-links">
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
  </div>
}
