@{
  Layout = "_Layout";
}

@using PierreIdentity.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />

@if (!ViewData.ModelState.IsValid)
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
}

<div class="form">
  @using (Html.BeginForm())
  {
    <div class="form-block">
      @Html.LabelFor(m => m.Email)
      @Html.TextBoxFor(m => m.Email)
    </div>
    <div class="form-block">
      @Html.LabelFor(m => m.Password)
      @Html.EditorFor(m => m.Password)
    </div>

    <input type="submit" class="btn btn-outline-dark" value="Log in" />
  }
</div>

<div class="navlinks two-links">
  <p>@Html.ActionLink("Register for an account", "Register")</p>
  <p>@Html.ActionLink("Back to accounts page", "Index")</p>
</div>
