@{
  Layout = "_Layout";
}

@using PierreIdentity.Models;

<h2>Treats and Flavors</h2>

<div class="splash-container">
  @using (Html.BeginForm("Index", "Treats", FormMethod.Get))
  {
    <button type="submit" class="navlinks-home">@Html.ActionLink("Treats", "Index", "Treats")</button>
  }
  <br />
  @if (Model["treats"].Length == 0)
  {
    <p>No treats have been added yet.</p>
  }
  <ul>
    @foreach (Treat treat in Model["treats"])
    {
      <li class="lists">@Html.ActionLink(@treat.Name, "Details", "Treats", new { id = @treat.TreatId })</li>
    }
  </ul>
</div>
<hr />
<div class="splash-container">
  @using (Html.BeginForm("Index", "Flavors", FormMethod.Get))
  {
    <button type="submit" class="navlinks-home">@Html.ActionLink("Flavors", "Index", "Flavors")</button>
  }
  <br />
  @if (Model["flavors"].Length == 0)
  {
    <p>No flavors have been added yet.</p>
  }
  <ul>
    @foreach (Flavor flavor in Model["flavors"])
    {
      <li class="lists">@Html.ActionLink(@flavor.Name, "Details", "Flacv", new { id = @flavor.FlavorId })</li>
    }
  </ul>
</div>
<hr />