@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Certify a New Engineer for @Model.Type</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")<br /><br />

  <input type="submit" value="Save" />
}

<div class="navlinks">
  <p>@Html.ActionLink("Back to list", "Index")</p>
</div>