@{
  Layout = "_Layout";
}

@using PierreIdentity.Models
@model PierreIdentity.Models.Flavor

<h2>@Model.Name Details: <span class="light-text">Flavor</span></h2>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This flavor is not tagged to any treats.</p>
}
else
{
  <h4>This flavor is matched to these treats:</h4>
  @foreach (TreatFlavor join in Model.JoinEntities)
  {
    <ul>
     <li class="lists">@join.Treat.Name</li>
    </ul>
    @using (Html.BeginForm("DeleteJoin", "Flavors"))
    {
      @Html.Hidden("joinId", @join.TreatFlavorId)
      <input type="submit" class="btn btn-outline-dark" value="Delete" />
    }
  }
}

<div class="navlinks four-links">
  <p>@Html.ActionLink("See all Flavors", "Index")</p>
  <p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
  <p>@Html.ActionLink("Add Treat to Flavor", "AddTreat", new { id = Model.FlavorId })</p>
  <p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
</div>