@{
  Layout = "_Layout";
}

@using PierreIdentity.Models
@model PierreIdentity.Models.Flavor

<h2>@Model.Name: <span class="light-text">Flavor Details</span></h2>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This flavor is not tagged to any treats.</p>
}
else
{
  <h4>The following treats are @Model.Name.ToLower(): </h4>
  @foreach (TreatFlavor join in Model.JoinEntities)
  {
    <ul>
      <li class="lists">@join.Treat.Name</li>
    </ul>
    @using (Html.BeginForm("DeleteJoin", "Flavors"))
    {
      @Html.Hidden("joinId", @join.TreatFlavorId)
      <input type="submit" class="btn btn-outline-dark" value="Delete" />
    }
    <br />
  }
}

<div class="navlinks four-links">
  <p>@Html.ActionLink("See all Flavors", "Index")</p>
  <p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
  <p>@Html.ActionLink("Tag Flavor to Treat", "AddTreat", new { id = Model.FlavorId })</p>
  <p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
</div>