@{
  Layout = "_Layout";
}

@using PierreIdentity.Models
@model PierreIdentity.Models.Treat

<h2>@Model.Name: <span class="light-text">Treat Details</span></h2>

@if (@Model.JoinEntities.Count == 0)
{
  <p>@Model.Name does not have any flavors added yet!</p>
}
else
{
  <h4>@Model.Name has the following flavors:</h4>
  @foreach (TreatFlavor join in Model.JoinEntities)
  {
    <ul>
      <li class="lists">@join.Flavor.Name</li>
    </ul>
    @using (Html.BeginForm("DeleteJoin", "Treats"))
    {
      @Html.Hidden("joinId", @join.TreatFlavorId)
      <input type="submit" class="btn btn-outline-dark" value="Delete" />
    }
    <br />
  }
}

<div class="navlinks four-links">
  <p>@Html.ActionLink("See All Treats", "Index")</p>
  <p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
  <p>@Html.ActionLink("Tag Flavor to Treat", "AddFlavor", new { id = Model.TreatId })</p>
  <p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
</div>